
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card">
  <h3>Manage Employees</h3>
  <p>Add, remove or update employees</p>
  <button>Go</button>
</div>
<style>
    .card {
  width: 250px;
  padding: 25px;
  border-radius: 15px;   /* round corners */
  background: #1f2933;  /* dark background */
  color: white;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}



</style>

    
</body>
</html>